@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg,
video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 22px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.stop-scroll {
  overflow: hidden;
}

.container-fluid {
  max-width: 480px;
  margin: 0 auto;
}

.header__inner {
  text-align: center;
  margin-top: 22px;
}

.welcom {
  margin-top: 20px;
}

.welcom__inner {
  position: relative;
}

.welcom__title {
  position: absolute;
  top: 3px;
  left: 0;
  padding-left: 17px;
  max-width: 444px;
  font-weight: 800;
  font-size: 60px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #8F156C;
  -webkit-transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
      -ms-transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
          transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
}

.welcom__text {
  max-width: 452px;
  position: absolute;
  top: 124px;
  left: 0;
  padding-left: 37px;
  font-weight: 800;
  font-size: 35px;
  line-height: 160.52%;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #012685;
  -webkit-transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
      -ms-transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
          transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
}

.welcom__img {
  margin-top: 126px;
}

.world {
  margin: 10px 0 31px 0;
}

.world__inner {
  text-align: center;
}

.world__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 119.52%;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #012685;
}

.world__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 114.52%;
  letter-spacing: -0.019em;
  color: #424345;
}

.world__text span {
  font-weight: 800;
  text-transform: uppercase;
  color: #8F156C;
}

.absolute__inner {
  position: relative;
  padding: 42px 10px 0 13px;
  background: #F6F5F1;
}

.absolute__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 114.52%;
  letter-spacing: -0.015em;
  color: #3F3F3F;
}

.absolute__description {
  text-align: center;
  max-width: 400px;
  margin: 22px 0 35px 6px;
  font-weight: 500;
  font-size: 32px;
  line-height: 114.52%;
  letter-spacing: -0.015em;
  color: #3F3F3F;
}

.absolute__text {
  margin: 40px 23px 0 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100.02%;
  text-align: justify;
  letter-spacing: 0.045em;
  color: #3F3F3F;
}

.absolute__description span {
  font-weight: 700;
  color: #5ADE6C;
}

.no-webp .absolute__inner:after {
  background-image: url("../img/palm.png"); }

.absolute__inner:after {
  content: "";
  position: absolute;
  top: -79px;
  right: 0;
  width: 219px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
}

.absolute__inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 1;
}

.absolute-box {
  padding-bottom: 48px;
  max-width: 457px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  gap: 36px 8px;
  padding-left: 64px;
}

.absolute-box__text {
  max-width: 457px;
  font-size: 25px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #3F3F3F;
}

.absolute-box span {
  font-weight: 700;
}

.button__green {
  display: block;
  margin: 0 auto;
  max-width: 302px;
  padding: 21px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #3F3F3F;
  background: -o-radial-gradient(0% 50.54%, 100% 1118.29%, #5ADE6C 0%, #5ADE6C 68.75%, #C5EFCB 99.97%, #5ADE6C 99.98%, rgba(181, 76, 76, 0.00520833) 99.99%);
  background: radial-gradient(100% 1118.29% at 0% 50.54%, #5ADE6C 0%, #5ADE6C 68.75%, #C5EFCB 99.97%, #5ADE6C 99.98%, rgba(181, 76, 76, 0.00520833) 99.99%);
  border: 1px solid #C5C1C1;
  -webkit-box-shadow: 4px 4px 4px rgba(119, 160, 108, 0.53);
          box-shadow: 4px 4px 4px rgba(119, 160, 108, 0.53);
  border-radius: 38px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button__green:hover {
  background: -o-radial-gradient(0% 50.54%, 100% 1118.29%, #5fed72 0%, #5fed72 68.75%, #C5EFCB 99.97%, #5fed72 99.98%, rgba(181, 76, 76, 0.00520833) 99.99%);
  background: radial-gradient(100% 1118.29% at 0% 50.54%, #5fed72 0%, #5fed72 68.75%, #C5EFCB 99.97%, #5fed72 99.98%, rgba(181, 76, 76, 0.00520833) 99.99%);
}

.button__green:active {
  background: -o-radial-gradient(0% 50.54%, 100% 1118.29%, #52cc62 0%, #52cc62 68.75%, #C5EFCB 99.97%, #52cc62 99.98%, rgba(181, 76, 76, 0.00520833) 99.99%);
  background: radial-gradient(100% 1118.29% at 0% 50.54%, #52cc62 0%, #52cc62 68.75%, #C5EFCB 99.97%, #52cc62 99.98%, rgba(181, 76, 76, 0.00520833) 99.99%);
}

.get__inner {
  padding-top: 16px;
  background: #F6F5F1;
}

.get__title {
  margin: 30px 0 0 14px;
  font-weight: 800;
  font-size: 80px;
  line-height: 100.02%;
  letter-spacing: 0.045em;
  color: #595757;
}

.get__text {
  margin: 29px 0 26px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 109.02%;
  text-align: center;
  letter-spacing: 0.045em;
  color: #595757;
}

.get__title span {
  margin-left: 20px;
}

.get__text span {
  line-height: 129.02%;
  letter-spacing: 0.07em;
  color: #D22427;
}

.energy {
  padding-top: 26px;
  background: #F6F5F1;
}

.energy__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 106.02%;
  letter-spacing: 0.045em;
  color: #B5272D;
}

.energy__description {
  margin: 25px 0 23px 27px;
  font-weight: 800;
  font-size: 20px;
  line-height: 114.52%;
  letter-spacing: -0.015em;
  color: #6D6B6B;
}

.energy__box p + p {
  padding-top: 26px;
}

.energy__text {
  margin: 0 37px 0 27px;
  font-weight: 500;
  font-size: 20px;
  line-height: 114.52%;
  letter-spacing: -0.015em;
  color: #6D6B6B;
}

.benefits__inner {
  position: relative;
  background: #F6F5F1;
}

.benefits__list {
  overflow: hidden;
  position: relative;
  padding: 71px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px 0;
}

.benefits__item {
  position: relative;
  min-height: 77px;
  width: 303px;
  font-weight: 300;
  font-size: 25px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #151515;
  background: #FEFDFD;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 4px 4px 4px rgba(97, 95, 95, 0.25);
          box-shadow: 4px 4px 4px rgba(97, 95, 95, 0.25);
  border-radius: 15px;
  z-index: 2;
}

.benefits__item span {
  font-weight: 500;
}

.benefits__item-span1 {
  padding-left: 7px;
}

.benefits__item_padding1 {
  padding-left: 8px;
  padding-top: 10px;
}

.benefits__item_padding2 {
  padding-left: 51px;
  padding-top: 9px;
}

.benefits__item_padding3 {
  padding-left: 32px;
  padding-top: 12px;
}

.benefits__item_padding4 {
  padding-left: 51px;
  padding-top: 25px;
}

.benefits__img-item1 {
  position: absolute;
  top: 48px;
  left: 21px;
  width: 190px;
  z-index: 1;
}

.benefits__img-item2 {
  position: absolute;
  top: 207px;
  left: 21px;
  width: 190px;
  z-index: 1;
}

.benefits__img-item3 {
  position: absolute;
  top: 362px;
  left: 21px;
  width: 190px;
  z-index: 1;
}

.benefits__img-item4 {
  position: absolute;
  bottom: 174px;
  left: 21px;
  width: 190px;
  z-index: 1;
}

.benefits__img-item5 {
  position: absolute;
  bottom: 18px;
  left: 21px;
  width: 190px;
  z-index: 1;
}

.benefits__inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  top: 16px;
  left: 0;
  background-color: #000000;
}

.no-webp .benefits__list:after {
  background-image: url("../img/benefits-fon.png"); }

.benefits__list:after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 45px;
  right: -132px;
}

.no-webp .benefits__item:before {
  background-image: url("../img/checkbox.png"); }

.benefits__item:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 36px;
  height: 36px;
  top: 21px;
  left: 14px;
}

.work__inner {
  position: relative;
  padding-top: 24px;
  background: #F9FFF4;
  z-index: -1;
}

.work__title {
  margin: 0 9px 0 9px;
  padding: 15px 0 30px 0;
  background: #6DCD01;
  border-radius: 50%;
  font-weight: 800;
  font-size: 90px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFDFD;
}

.work__subtitle {
  padding-top: 16px;
  font-weight: 300;
  font-size: 24px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
}

.work__text-item1 {
  margin-top: 59px;
  margin-left: 8px;
  max-width: 392px;
  font-weight: 600;
  font-size: 24px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #333232;
  z-index: 1;
}

.work__img-item1 {
  position: absolute;
  top: 426px;
  left: 0;
  z-index: -1;
}

.work__text-item2 {
  margin-top: 246px;
  margin-right: 3px;
  margin-bottom: 14px;
  margin-left: 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
}

.work__subtitle span {
  color: #B5272D;
}

.advantages__inner {
  background: #F9FFF4;
  padding-top: 37px;
}

.advantages__title {
  max-width: 447px;
  margin: 0 10px 36px 10px;
  font-weight: 700;
  font-size: 25px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #595757;
}

.advantages__box {
  position: relative;
}

.advantages__img {
  padding: 0 9px 0 9px;
}

.advantages__description {
  position: absolute;
  bottom: -157px;
  padding: 14px 18px 11px 14px;
  width: 345px;
  font-size: 30px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  background: #EBEBEB;
  -webkit-box-shadow: 4px 4px 4px #B9CFA7;
          box-shadow: 4px 4px 4px #B9CFA7;
  border-radius: 13px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advantages__title span {
  color: #EF423D;
}

.advantages__description span {
  color: #FA0000;
}

.works__inner {
  padding: 121px 0 29px 0;
  background: #F9FFF4;
}

.works__title {
  font-size: 45px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #151515;
}

.works__text {
  margin: 29px 9px 0 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 158.52%;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #6D6B6B;
}

.works__list {
  padding: 28px 0 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.works__item {
  position: relative;
  max-width: 387px;
  padding-right: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150.52%;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #6D6B6B;
}

.works__title span {
  color: #FF0000;
}

.works__item:before {
  content: "";
  position: absolute;
  background-image: url("../img/works-star.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 3px;
  left: -62px;
  width: 40px;
  height: 34px;
}

.only {
  margin: 23px 0 34px 0;
}

.only__title {
  padding: 0 7px 25px 6px;
  font-weight: 600;
  font-size: 30px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #3F3F3F;
  text-shadow: 4px 4px 4px rgba(60, 53, 53, 0.25);
}

.only__box {
  position: relative;
  margin: 0 23px 0 23px;
}

.only__description {
  width: 100%;
  position: absolute;
  padding: 12px 0 11px 0;
  bottom: 7px;
  left: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 114.52%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #2D2D2D;
  background: rgba(217, 217, 217, 0.69);
}

.only__text {
  font-size: 20px;
  line-height: 129.52%;
  letter-spacing: -0.015em;
  color: #2D2D2D;
}

.only__description span {
  color: #FF0000;
}

.only__text-bold {
  font-weight: 600;
}

.only__text-color {
  color: #D22227;
}

.only__wrapper-item1 {
  margin-bottom: 40px;
}

.only__wrapper-item1 p {
  margin: 33px 20px 41px 47px;
}

.only__wrapper-item2 p {
  margin: 41px 25px 38px 27px;
}

.only__wrapper-item3 p {
  margin: 48px 25px 0 22px;
}

.opinion__inner {
  position: relative;
  padding: 37px 0 51px 0;
  background: #F6F5F1;
}

.opinion__title {
  padding: 0 19px 30px 19px;
  font-weight: 500;
  font-size: 35px;
  line-height: 129.52%;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #2D2D2D;
}

.opinion__description {
  max-width: 262px;
  position: absolute;
  top: 177px;
  left: 16px;
  font-weight: 500;
  font-size: 25px;
  line-height: 129.52%;
  letter-spacing: -0.015em;
  color: #2D2D2D;
}

.opinion__text {
  margin: 0 16px 0 15px;
  font-weight: 300;
  font-size: 20px;
  line-height: 118.02%;
  letter-spacing: -0.015em;
}

.opinion__signed {
  position: absolute;
  left: 16px;
  bottom: 28px;
  width: 186px;
}

.opinion__name {
  margin: 22px 14px 0 0;
  display: block;
  text-align: end;
  font-weight: 300;
  font-size: 20px;
  line-height: 149.02%;
  letter-spacing: -0.015em;
}

.opinion__img-item1 {
  margin-bottom: 21px;
}

.opinion__description span {
  color: #C94545;
}

.no-webp .opinion__description:before {
  background-image: url("../img/opinion-item2.png"); }

.opinion__description:before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 52px;
  height: 43px;
  z-index: 2;
}

.opinion__inner p + p {
  padding-top: 25px;
}

.use__inner {
  padding: 30px 34px 7px 34px;
  background: #F9FFF4;
}

.use__title {
  font-size: 38px;
  line-height: 46px;
  color: #D22127;
}

.use__text {
  margin-top: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 132.02%;
}

.use__box {
  margin: 26px 0 46px 0;
}

.use__box-text1 {
  font-size: 16px;
  line-height: 132.02%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use__box-text2 {
  padding: 20px 0 0 54px;
  font-size: 16px;
  line-height: 132.02%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use-wrapper {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  background: #F9FFF4;
}

.use-buttom {
  position: absolute;
  width: 280px;
  text-align: center;
  display: block;
  padding: 20px 0 19px 4px;
  font-weight: 800;
  font-size: 35px;
  line-height: 132.02%;
  color: #FFFFFF;
  background: #DC8343;
  -webkit-box-shadow: 4px 4px 4px #8F7663;
          box-shadow: 4px 4px 4px #8F7663;
  border-radius: 25px;
  top: 36px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.use-buttom:hover {
  background: #eb8c49;
}

.use-buttom:active {
  background: #cc793d;
}

.reviews {
  margin-top: 65px;
}

.reviews__title {
  margin: 0 auto;
  max-width: 401px;
  font-weight: 800;
  font-size: 60px;
  line-height: 105.02%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #595757;
}

.reviews__text {
  padding-top: 4px;
  font-size: 20px;
  line-height: 129.52%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #595757;
}

.reviews__text span {
  color: #D22127;
}

.reviews-box {
  padding-top: 51px;
}

.reviews-box__name {
  padding-left: 5px;
  font-size: 15px;
  line-height: 129.52%;
  letter-spacing: -0.015em;
}

.reviews-box__text {
  max-width: 425px;
  padding-top: 5px;
  font-size: 15px;
  line-height: 129.52%;
  text-align: justify;
  letter-spacing: -0.015em;
}

.reviews-box img {
  padding-bottom: 18px;
}

.reviews__img-arrow {
  padding: 31px 65px 0 65px;
}

.free {
  margin-top: 27px;
}

.free__inner {
  padding: 16px 0 59px 0;
  background: #CBF5CA;
}

.free__title {
  padding: 0 10px 36px 23px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 132.02%;
  letter-spacing: 0.005em;
  color: #4E4E4E;
}

.free__text {
  padding: 0 10px 47px 23px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 132.02%;
  letter-spacing: 0.005em;
  color: #4E4E4E;
}

.free-button {
  margin: 0 auto;
  display: block;
  padding: 14px 0 15px 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 132.02%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FBFBFB;
  width: 302px;
  background: #D32228;
  -webkit-box-shadow: 4px 4px 4px rgba(43, 21, 21, 0.46);
          box-shadow: 4px 4px 4px rgba(43, 21, 21, 0.46);
  border-radius: 67px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.free-button:hover {
  background: #e3242b;
}

.free-button:active {
  background: #c21f25;
}

.free__title span {
  color: #B32A2A;
}

.free__text span {
  color: #B32A2A;
}

.none {
  display: none;
}

.footer {
  margin: 49px 0 51px 0;
}

.footer__inner {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 129.52%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #2D2D2D;
}

.footer__text {
  padding: 21px 0 38px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}

.footer__list li + li {
  border-left: 2px solid #2D2D2D;
  padding-left: 6px;
}

@media (max-width: 480px) {
  .welcom__title {
    font-size: calc(30px + 30 * (100vw - 320px) / 160);
  }

  .get__title {
    font-size: calc(50px + 30 * (100vw - 320px) / 160);
  }

  .energy__title {
    font-size: calc(30px + 10 * (100vw - 320px) / 160);
  }

  .work__title {
    font-size: calc(65px + 25 * (100vw - 320px) / 160);
  }

  .opinion__title {
    font-size: calc(25px + 10 * (100vw - 320px) / 160);
  }

  .use__title {
    font-size: calc(30px + 8 * (100vw - 320px) / 160);
  }

  .reviews__title {
    font-size: calc(50px + 10 * (100vw - 320px) / 160);
  }
}

@media (max-width: 479px) {
  .only__title {
    padding: 0 15px 25px 15px;
  }
}

@media (max-width: 471px) {
  .work__text-item2 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 461px) {
  .benefits__item {
    font-size: 22px;
    width: 273px;
  }
}

@media (max-width: 457px) {
  .welcom__text {
    max-width: 393px;
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .welcom__title {
    max-width: 418px;
    padding-left: 17px;
  }

  .work__text-item1 {
    font-size: 20px;
  }

  .work__img-item1 {
    top: 408px;
  }

  .work__text-item2 {
    margin-top: 224px;
  }
}

@media (max-width: 444px) {
  .welcom__img {
    margin-top: 110px;
  }
}

@media (max-width: 440px) {
  .benefits__img-item1 {
    width: 150px;
    top: 61px;
  }

  .benefits__img-item2 {
    width: 150px;
    top: 220px;
  }

  .benefits__img-item3 {
    width: 150px;
    top: 375px;
  }

  .benefits__img-item4 {
    width: 184px;
    bottom: 192px;
  }

  .benefits__img-item5 {
    width: 150px;
    bottom: 31px;
  }

  .only__title {
    font-size: 27px;
  }
}

@media (max-width: 430px) {
  .absolute-box {
    padding-left: 14px;
  }
}

@media (max-width: 425px) {
  .world__title {
    font-size: calc(30px + 10 * (100vw - 320px) / 160);
  }

  .use__title {
    line-height: 38px;
  }
}

@media (max-width: 423px) {
  .welcom__title {
    max-width: 393px;
  }
}

@media (max-width: 401px) {
  .benefits__item {
    font-size: 20px;
    width: 250px;
  }

  .benefits__item:before {
    width: 30px;
    height: 30px;
  }

  .work__text-item1 {
    margin-top: 44px;
  }

  .work__img-item1 {
    top: 383px;
  }

  .work__text-item2 {
    margin-top: 200px;
  }
}

@media (max-width: 400px) {
  .welcom__text {
    max-width: 353px;
    padding-left: 33px;
    font-size: 27px;
    top: 99px;
  }

  .welcom__img {
    margin-top: 92px;
  }

  .only__title {
    font-size: 25px;
  }
}

@media (max-width: 397px) {
  .welcom__title {
    max-width: 361px;
  }
}

@media (max-width: 388px) {
  .opinion__signed {
    width: 161px;
  }
}

@media (max-width: 380px) {
  .benefits__img-item1 {
    width: 130px;
    top: 30px;
  }

  .benefits__img-item2 {
    width: 130px;
    top: 188px;
  }

  .benefits__img-item3 {
    width: 130px;
    top: 347px;
  }

  .benefits__img-item4 {
    width: 130px;
    bottom: 238px;
  }

  .benefits__img-item5 {
    width: 130px;
    bottom: 76px;
  }
}

@media (max-width: 375px) {
  .work__text-item1 {
    margin-top: 56px;
  }
}

@media (max-width: 371px) {
  .work__text-item2 {
    margin-top: 180px;
  }
}

@media (max-width: 366px) {
  .welcom__img {
    margin-top: 80px;
  }
}

@media (max-width: 365px) {
  .welcom__title {
    max-width: 337px;
  }
}

@media (max-width: 360px) {
  .welcom__text {
    max-width: 338px;
    padding-left: 10px;
    top: 80px;
  }
}

@media (max-width: 359px) {
  .work__text-item1 {
    margin-top: 33px;
  }
}

.webp .absolute__inner:after { background-image: url(../img/palm.webp); }

.webp .benefits__list:after { background-image: url(../img/benefits-fon.webp); }

.webp .benefits__item:before { background-image: url(../img/checkbox.webp); }

.webp .opinion__description:before { background-image: url(../img/opinion-item2.webp); }